<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="appName" value="lagoon"/>
    <property name="logRoot" value="/Users/joyance/Documents/logs/lagoon"/>
    <property name="pattern" value="%d %p [%t] %c{20} %X{traceId:--} %m%n"/>
    <property name="logHistory" value="30"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="INFO-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logRoot}/${appName}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${logHistory}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- api日志 -->
    <appender name="monitor-api" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/monitor-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logRoot}/monitor-api.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${logHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <root level="${log_file_level}">
        <appender-ref ref="INFO-APPENDER"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="monitor-api" level="INFO" additivity="${log_debug}">
        <appender-ref ref="monitor-api"/>
    </logger>
    
</configuration>